<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description"
    content="Weekly Articles about JavaScript,Python,Reactjs,Nodejs,CSS and all other things related to web development.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description"
    content="Weekly Articles about JavaScript,Python,Reactjs,Nodejs,CSS and all other things related to web development." />
  <meta name="twitter:title" content="codebond" />
  <meta name="twitter:site" content="@codebondco" />
  <meta name="twitter:image"
    content="https://res.cloudinary.com/codebond/image/upload/w_700,q_auto:good,f_auto/v1568908061/wl7pzaqqak18ynylswbj.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/codebond.ico" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:500|Ubuntu&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles/grid.css">

  <script type="application/ld+json">
    [{
      "@context": "http:\/\/schema.org",
      "@type": "Organization",
      "logo": "https://codebond.co/static/images/codebond.png",
      "name": "codebond",
      "url": "http:\/\/codebond.co\/",
      "image": "https:\/\/res.cloudinary.com\/codebond\/image\/upload\/w_700,q_auto:good,f_auto\/v1569218202\/g3tneci5gmzhmkfanzzw.png",
      "address": {
        "addressRegion": "maharashtra",
        "addressCountry": "india",
        "@type": "PostalAddress"
      },
      "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "Technical Support",
        "email": "codebond.cb@gmail.com",
        "telephone": "+917387307106"
      },
      "sameAs": ["https:\/\/twitter.com\/codebondco", "https:\/\/facebook.com\/codebondco",
        "https:\/\/www.reddit.com\/user\/codebondco"
      ]
    }, {
      "@context": "http:\/\/schema.org",
      "@type": "Website",
      "name": "codebond",
      "url": "http:\/\/codebond.co",
      "keywords": "Weekly Articles about JavaScript,Reactjs,Nodejs,CSS and all other things related to web development.",
      "sameAs": ["https:\/\/twitter.com\/codebondco", "https:\/\/facebook.com\/codebondco",
        "https:\/\/www.reddit.com\/user\/codebondco"
      ]
    }, {
      "@context": "http:\/\/schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "codebond",
        "item": "http:\/\/codebond.co"
      }]
    }]
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147948621-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-147948621-1');
  </script>

  <!-- google ads -->
  <script data-ad-client="ca-pub-2650533982969945" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <title>codebond</title>
</head>

<body>
  <div align="left">
    <amp-ad width="100vw" height=320 type="adsense" data-ad-client="ca-pub-2650533982969945" data-ad-slot="8274298424"
      data-auto-format="rspv" data-full-width>
      <div overflow></div>
    </amp-ad>
  </div>

  <%- include('component/navbar')  %>

  <%- include('component/blogpost')  %>

  <%- include('component/footer')  %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/static/scripts/dist/lazyloading.js"></script>
  <script>
    console.log(`
                                                                                                                                      
                                                   dddddddd                     bbbbbbbb                                                              dddddddd
                                                   d::::::d                     b::::::b                                                              d::::::d
                                                   d::::::d                     b::::::b                                                              d::::::d
                                                   d::::::d                     b::::::b                                                              d::::::d
                                                   d:::::d                       b:::::b                                                              d:::::d 
    cccccccccccccccc    ooooooooooo        ddddddddd:::::d      eeeeeeeeeeee     b:::::bbbbbbbbb        ooooooooooo    nnnn  nnnnnnnn         ddddddddd:::::d 
  cc:::::::::::::::c  oo:::::::::::oo    dd::::::::::::::d    ee::::::::::::ee   b::::::::::::::bb    oo:::::::::::oo  n:::nn::::::::nn     dd::::::::::::::d 
 c:::::::::::::::::c o:::::::::::::::o  d::::::::::::::::d   e::::::eeeee:::::ee b::::::::::::::::b  o:::::::::::::::o n::::::::::::::nn   d::::::::::::::::d 
c:::::::cccccc:::::c o:::::ooooo:::::o d:::::::ddddd:::::d  e::::::e     e:::::e b:::::bbbbb:::::::b o:::::ooooo:::::o nn:::::::::::::::n d:::::::ddddd:::::d 
c::::::c     ccccccc o::::o     o::::o d::::::d    d:::::d  e:::::::eeeee::::::e b:::::b    b::::::b o::::o     o::::o   n:::::nnnn:::::n d::::::d    d:::::d 
c:::::c              o::::o     o::::o d:::::d     d:::::d  e:::::::::::::::::e  b:::::b     b:::::b o::::o     o::::o   n::::n    n::::n d:::::d     d:::::d 
c:::::c              o::::o     o::::o d:::::d     d:::::d  e::::::eeeeeeeeeee   b:::::b     b:::::b o::::o     o::::o   n::::n    n::::n d:::::d     d:::::d 
c::::::c     ccccccc o::::o     o::::o d:::::d     d:::::d  e:::::::e            b:::::b     b:::::b o::::o     o::::o   n::::n    n::::n d:::::d     d:::::d 
c:::::::cccccc:::::c o:::::ooooo:::::o d::::::ddddd::::::dd e::::::::e           b:::::bbbbbb::::::b o:::::ooooo:::::o   n::::n    n::::n d::::::ddddd::::::dd
 c:::::::::::::::::c o:::::::::::::::o  d:::::::::::::::::d  e::::::::eeeeeeee   b::::::::::::::::b  o:::::::::::::::o   n::::n    n::::n  d:::::::::::::::::d
  cc:::::::::::::::c  oo:::::::::::oo    d:::::::::ddd::::d   ee:::::::::::::e   b:::::::::::::::b    oo:::::::::::oo    n::::n    n::::n   d:::::::::ddd::::d
    cccccccccccccccc    ooooooooooo       ddddddddd   ddddd     eeeeeeeeeeeeee   bbbbbbbbbbbbbbbb       ooooooooooo      nnnnnn    nnnnnn    ddddddddd   ddddd
                                                                                                                                                    
    `)
    console.log(`Did you find a bug or vulnerability? if yes contact us codebond.cb@gmail.com`)
    $("a").attr({
      rel: "noopener"
    })
  </script>

</body>

</html>
