<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/codebond.ico" />
    <!-- Initialize EnlighterJS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:500|Ubuntu&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/grid.css">
    <title>Privacy Policy</title>
    <style>
            p{
                text-align: justify;
            }
            .container{
                padding: 20px 10px;
                font-family: "Helvetica";
            }
            .container div div{
                border: 1px dashed #ccc;
                padding: 15px;
            }
           
        </style>
</head>

<body>
        <%- include('component/navbar')  %>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8 col-sm-11 col-11">
                    <p><strong><strong>PRIVACY POLICY</strong></strong></p>
                    <p><strong>Last updated  July 30, 2019</strong></p>
                    <p>Thank you for choosing to be part of our community at  <img src="/static/images/codebond.ico" width="35" height="35" alt="">codebond (“<strong>Company</strong>”, “<strong>we</strong>”, “<strong>us</strong>”, or “<strong>our</strong>”). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our  policy, or our practices with regards to your personal information, please contact us at  <a href="mailto:codebond.cb@gmail.com">codebond.cb@gmail.com</a>.</p>
                    <p>When you visit our  website  <a href="http://codebond.co">http://codebond.co</a>,  and use our services, you trust us with your personal information. We take your privacy very seriously. In this  privacy policy, we describe our  privacy policy. We seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this  privacy policy  that you do not agree with, please discontinue use of our  Sites  and our services.</p>
                    <p>This  privacy policy  applies to all information collected through our  website  (such as  <a href="http://codebond.co">http://codebond.co</a>),  and/or any related services, sales, marketing or events (we refer to them collectively in this  privacy policy as the “<strong>Services</strong>”).</p>
                    <p><em><strong>Please read this  privacy policy  carefully as it will help you make informed decisions about sharing your personal information with us.</strong></em></p>
                    <p><strong>1. WHAT INFORMATION DO WE COLLECT?</strong></p>
                    <p><strong>Personal information you disclose to us</strong></p>
                    <p><strong><em>In Short:</em></strong> _We collect personal information that you provide to us such as name,email,profilepicture.<br>
                    We collect personal information that you voluntarily provide to us when  registering at the  Services  expressing an interest in obtaining information about us or our products and services, when participating in activities on the  Services  or otherwise contacting us.</p>
                    <p>The personal information that we collect depends on the context of your interactions with us and the  Services, the choices you make and the products and features you use. The personal information we collect can include the following:</p>
                    <p><strong>Name and Contact Data.</strong> We collect your first and last name, email addres.</p>
                    <p><strong>Social Media Login Data.</strong> We provide you with the option to register using social media account details, like your Google account. If you choose to register in this way, we will collect the Information such as name, profilepicture,email.</p>
                    <p>All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</p>
                    <p><strong>Information collected from other sources</strong></p>
                    <p><strong><em>In Short:</em></strong> _We may collect limited data from public databases, marketing partners,  social media platforms.</p>
                    <p>We may obtain information about you from other sources, such as public databases, joint marketing partners,  social media platforms (such as Google),  as well as from other third parties. Examples of the information we receive from other sources include: social media profile information  (your name, gender, birthday, email, current city, state and country, profile picture URL, and any other information that you choose to make public).</p>
                    <p><strong>2. HOW DO WE USE YOUR INFORMATION?</strong></p>
                    <ul>
                    <li>
                    <p><strong>To facilitate account creation and logon process.</strong> If you choose to link your account with us to a third party account *(such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process for the performance of the contract.
                    </li>
                    <li>
                    <p><strong>To protect our Services.</strong> We may use your information as part of our efforts to keep our  Services  safe and secure (for example, for fraud monitoring and prevention). We may use and store this information in aggregated and anonymized form so that it is not associated with individual end users and does not include personal information. We will not use identifiable personal information without your consent.</p>
                    </li>
                    </ul>
                    <p><strong>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</strong></p>
                    <p><strong><em>In Short:</em></strong> <em>We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.</em></p>
                    <ul>
                    <li>
                    <p><strong>Performance of a Contract:</strong> Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract.</p>
                    </li>
                    <li>
                    <p><strong>Legal Obligations:</strong>  We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).</p>
                    </li>
                    <li>
                    <p><strong>Third-Party Advertisers.</strong> We may use third-party advertising companies to serve ads when you visit the  Services. These companies may use information about your visits to our Website(s) and other websites that are contained in web cookies and other tracking technologies in order to provide advertisements about goods and services of interest to you.</p>
                    </li>
                    </ul>
                    <p><strong>4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</strong></p>
                    <p><strong><em>In Short:</em></strong> <em>We may use cookies and other tracking technologies to collect and store your information.</em></p>
                    <p>We may use cookies to access or store information</p>
                    <p><strong>5. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</strong></p>
                    <p><strong><em>In Short:</em></strong> <em>If you log in to our services using a social media account, we may have access to certain information about you.</em></p>
                    <p>Our  Services  offer you the ability to register and login using your third party social media account details (like google logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile Information we receive may vary depending on the social media provider concerned, but will often include your name, e-mail address, profile picture as well as other information you choose to make public.</p>
                    <p>We will use the information we receive only for the purposes that are described in this  privacy policy or that are otherwise made clear to you on the  Services  . Please note that we do not control, and are not responsible for, other uses of your personal information by your third party social media provider. We recommend that you review their privacy policy to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their sites and apps.</p>
                    <p><strong>7. HOW LONG DO WE KEEP YOUR INFORMATION?</strong></p>
                    <p><strong><em>In Short:</em></strong> <em>We keep your information for as long as necessary to fulfill the purposes outlined in this  privacy policy  unless otherwise required by law.</em></p>
                    <p>We will only keep your personal information for as long as it is necessary for the purposes set out in this  privacy policy, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than  the period of time in which users have an account with us  .</p>
                    <p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>
                    <p><strong>12. DO WE MAKE UPDATES TO THIS POLICY?</strong></p>
                    <p><strong><em>In Short:</em></strong> <em>Yes, we will update this policy as necessary to stay compliant with relevant laws.</em></p>
                    <p>We may update this  privacy policy  from time to time. The updated version will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. If we make material changes to this  privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review thisprivacy policy  frequently to be informed of how we are protecting your information.</p>
                    <p><strong>13. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</strong></p>
                    <p>If you have questions or comments about this policy, you may  email us at  <a href="mailto:codebond.cb@gmail.com">codebond.cb@gmail.com</a>  or by post to:</p>
                    <img src="/static/images/codebond.ico" width="35" height="35" alt="">codebond
                    <hr>
                    <p>chiplun,  maharashtra  415605</p>
                  
                    <p>🇮🇳 India</p>
            </div>
        </div>
    </div>

    <%- include('component/footer')  %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>


</html>
