<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/codebond.ico" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:500|Ubuntu&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/grid.css">
    <title>Terms of Service</title>
    <style>
        p{
            text-align: justify;
        }
        .container{
            padding: 20px 10px;
            font-family: "Helvetica";
        }
        .container div div{
            border: 1px dashed #ccc;
            padding: 15px;
        }
    </style>
</head>

<body>
        <%- include('component/navbar')  %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8 col-sm-11 col-11">
                    <h2 id="terms-and-conditions"><strong>TERMS AND CONDITIONS</strong></h2>
                    <p><strong>Last Updated  21 August 2019</strong></p>
                    <p><strong>1.</strong>  <strong>Agreement to Terms</strong></p>
                    <p>1.1 These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of an entity (<strong>you</strong>), and <img src="/static/images/codebond.ico" width="35" height="35" alt=""><strong>codebond</strong>.</p>
                    <p>You agree that by accessing the site, understood, and agree to be bound by all of these Terms and Conditions.</p>
                    <p><strong>If you do not agree with all of these Terms and Conditions, then you are prohibited from using the Site and Services and you must discontinue use immediately</strong>. We recommend that you print a copy of these Terms and Conditions for future reference.</p>
                    <p>1.2 We may make changes to these Terms and Conditions at any time. The updated version of these Terms and Conditions will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. You are responsible for reviewing these Terms and Conditions to stay informed of updates. Your continued use of the Site represents that you have accepted such changes.</p>
                    <p>1.3 We may update or change the Site from time to time to reflect changes to our content.</p>
                    <p><strong>2.</strong> <strong>Acceptable Use</strong></p>
                    <p>2.1 You may not access or use the Site for any purpose other than that for which we make the site and our services available. The Site may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.</p>
                    <p>2.3 As a user of this Site, you agree not to:</p>
                    <p>-Falsely imply a relationship with us or another company with whom you do not have a relationship</p>
                    <p><strong>3. Information you provide to us</strong></p>
                    <p>3.1 You represent and warrant that: (a) all registration information you submit will be true, accurate, current, and complete<br>
                    (b) you will maintain the accuracy of such information and promptly update such information as necessary;© you have the legal capacity and you agree to comply with these Terms and Conditions; and (d) you are not a minor in the jurisdiction in which you reside, or if a minor, you have received parental permission to use the Site.</p>
                    <p>If you know or suspect that anyone other than you knows your user information (such as an identification code or user name) and/or password you must promptly notify us at  <strong><a href="mailto:codebond.cb@gmail.com">codebond.cb@gmail.com</a></strong></p>
                    <p>3.2 If you provide any information that is untrue, inaccurate, not current or incomplete, we may suspend or terminate your account. We may remove or change a user name you select if we determine that such user name is inappropriate.</p>
                    <p><strong>4.</strong> <strong>Content you provide to us</strong></p>
                    <p>4.1 There may be opportunities for you to post content to the Site or send feedback to us (<strong>User Content</strong>). You understand and agree that your User Content may be viewed by other users on the Site, and that they may be able to see who has posted that User Content.</p>
                    <p>4.2 <em>You further agree that we can use your User Content for any other purposes whatsoever in perpetuity without payment to you, and combine your User Content with other content for use within the Site and otherwise. We do not have to attribute your User Content to you</em>.  _When you upload or post content to our site, you grant us the following rights to use that content.</p>
                    <p>4.3 We have the right to remove any User Content you put on the Site if, in our opinion.</p>
                    <p>4.4 We are not responsible and accept no liability for any User Content including any such content that contains incorrect information or is defamatory or loss of User Content. We accept no obligation to screen, edit or monitor any User Content but we reserve the right to remove, screen and/or edit any User Content without notice and at any time. User Content has not been verified or approved by us and the views expressed by other users on the Site do not represent our views or values</p>
                    <p>4.5 If you wish to complain about User Content uploaded by other users please contact us  at <strong><a href="mailto:codebond.cb@gmail.com">codebond.cb@gmail.com</a></strong></p>
                    <p><strong>5.</strong> <strong>Our content</strong></p>
                    <p>5.1 Unless otherwise indicated, the Site and Services including source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on the Site (<strong>Our Content</strong>) are owned or licensed to us, and are protected by copyright and trade mark laws.</p>
                    <p>5.2 Except as expressly provided in these Terms and Conditions, no part of the Site, Services or Our Content may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without our express prior written permission.</p>
                    <p>5.3 Provided that you are eligible to use the Site, you are granted a limited licence to access and use the Site and Our Content and to download or print a copy of any portion of the Content to which you have properly gained access solely for your personal, non-commercial use.</p>
                    <p>5.4 You shall not (a) try to gain unauthorised access to the Site or any networks, servers or computer systems connected to the Site; and/or (b) make for any purpose including error correction, any modifications, adaptions, additions or enhancements to the Site or Our Content, including the modification of the paper or digital copies you may have downloaded.</p>
                    <p>5.5 We shall (a) prepare the Site and Our Content with reasonable skill and care; and (b) use industry standard virus detection software to try to block the uploading of content to the Site that contains viruses.</p>
                    <p>5.6 The content on the Site is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from taking, any action on the basis of the content on the Site.</p>
                    <p>5.7 Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or implied, that Our Content on the Site is accurate, complete or up to date.</p>
                    
                    <p><strong>6. writing</strong></p>
                    <p>6.1 Use images hosted on codebond.</p>
                    <p>6.2 Using images out of codebond will subject to copyright.</p>
                    <p>6.3 You are responsible for using external url for images which may subject to copyright.</p>
                    <p>6.4 Using abusive word and adult content is prohibited.</p>
                    
                    <p><strong>7. Link to third party content</strong></p>
                    <p>7.1  The Site may contain links to websites or applications operated by third parties.We do not have any influence or control over any such third party websites or applications or the third party operator. We are not responsible for and do not endorse any third party websites or applications or their availability or content.</p>
                    <p>7.2 We accept no responsibility for adverts contained within the Site. If you agree to purchase goods and/or services from any third party who advertises in the Site, you do so at your own risk. The advertiser, and not us, is responsible for such goods and/or services and if you have any questions or complaints in relation to them, you should contact the advertiser.</p>
                    <p><strong>8.</strong> <strong>Site Management</strong></p>
                    <p>8.1 We reserve the right at our sole discretion, to (1) monitor the Site for breaches of these Terms and Conditions; (2) take appropriate legal action against anyone in breach of applicable laws or these Terms and Conditions;  (3) refuse, restrict access to or availability of, or disable (to the extent technologically feasible) any of your Contributions;  (4) remove from the Site or otherwise disable all files and content that are excessive in size or are in any way a burden to our systems; and (5) otherwise manage the Site in a manner designed to protect our rights and property and to facilitate the proper functioning of the Site and Services.</p>
                    <p>8.2 You are responsible for configuring your information technology, computer programs and platform to access the Site and you should use your own virus protection software.</p>
                    <p><strong>9.</strong> <strong>Modifications to and availability of the Site</strong></p>
                    <p>9.1 We reserve the right to change, modify, or remove the contents of the Site at any time or for any reason at our sole discretion without notice. We also reserve the right to modify or discontinue all or part of the Services without notice at any time.</p>
                    <p>9.2 We cannot guarantee the Site and Services will be available at all times. We may experience hardware, software, or other problems or need to perform maintenance related to the Site, resulting in interruptions, delays, or errors. You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by your inability to access or use the Site or Services during any downtime or discontinuance of the Site or Services.We are not obliged to maintain and support the Site or Services or to supply any corrections, updates, or releases.</p>
                    <p>9.3 There may be information on the Site that contains typographical errors, inaccuracies, or omissions that may relate to the Services, including descriptions, pricing, availability, and various other information. We reserve the right to correct any errors, inaccuracies, or omissions and to change or update the information at any time, without prior notice.</p>
                    <p><strong>10.</strong> <strong>General</strong></p>
                    <p>10.1 Visiting the Site, sending us emails, and completing online forms constitute electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures, and other communications we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communication be in writing.</p>
                    <p>10.2 We shall not be responsible or liable for any loss, damage, delay or failure to act caused by any cause beyond our reasonable control.</p>
                    <p>10.3 We shall not be responsible or liable for any loss, damage, delay or failure to act caused by any cause beyond our reasonable control.</p>
                    <h5 id="thank-you">Thank you</h5>
            </div>
        </div>
    </div>
    <%- include('component/footer') %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script>
     document.querySelector(".search").style.display = "none"
    
            console.log(`
                                                                                                                                              
                                                           dddddddd                     bbbbbbbb                                                              dddddddd
                                                           d::::::d                     b::::::b                                                              d::::::d
                                                           d::::::d                     b::::::b                                                              d::::::d
                                                           d::::::d                     b::::::b                                                              d::::::d
                                                           d:::::d                       b:::::b                                                              d:::::d 
            cccccccccccccccc    ooooooooooo        ddddddddd:::::d      eeeeeeeeeeee     b:::::bbbbbbbbb        ooooooooooo    nnnn  nnnnnnnn         ddddddddd:::::d 
          cc:::::::::::::::c  oo:::::::::::oo    dd::::::::::::::d    ee::::::::::::ee   b::::::::::::::bb    oo:::::::::::oo  n:::nn::::::::nn     dd::::::::::::::d 
         c:::::::::::::::::c o:::::::::::::::o  d::::::::::::::::d   e::::::eeeee:::::ee b::::::::::::::::b  o:::::::::::::::o n::::::::::::::nn   d::::::::::::::::d 
        c:::::::cccccc:::::c o:::::ooooo:::::o d:::::::ddddd:::::d  e::::::e     e:::::e b:::::bbbbb:::::::b o:::::ooooo:::::o nn:::::::::::::::n d:::::::ddddd:::::d 
        c::::::c     ccccccc o::::o     o::::o d::::::d    d:::::d  e:::::::eeeee::::::e b:::::b    b::::::b o::::o     o::::o   n:::::nnnn:::::n d::::::d    d:::::d 
        c:::::c              o::::o     o::::o d:::::d     d:::::d  e:::::::::::::::::e  b:::::b     b:::::b o::::o     o::::o   n::::n    n::::n d:::::d     d:::::d 
        c:::::c              o::::o     o::::o d:::::d     d:::::d  e::::::eeeeeeeeeee   b:::::b     b:::::b o::::o     o::::o   n::::n    n::::n d:::::d     d:::::d 
        c::::::c     ccccccc o::::o     o::::o d:::::d     d:::::d  e:::::::e            b:::::b     b:::::b o::::o     o::::o   n::::n    n::::n d:::::d     d:::::d 
        c:::::::cccccc:::::c o:::::ooooo:::::o d::::::ddddd::::::dd e::::::::e           b:::::bbbbbb::::::b o:::::ooooo:::::o   n::::n    n::::n d::::::ddddd::::::dd
         c:::::::::::::::::c o:::::::::::::::o  d:::::::::::::::::d  e::::::::eeeeeeee   b::::::::::::::::b  o:::::::::::::::o   n::::n    n::::n  d:::::::::::::::::d
          cc:::::::::::::::c  oo:::::::::::oo    d:::::::::ddd::::d   ee:::::::::::::e   b:::::::::::::::b    oo:::::::::::oo    n::::n    n::::n   d:::::::::ddd::::d
            cccccccccccccccc    ooooooooooo       ddddddddd   ddddd     eeeeeeeeeeeeee   bbbbbbbbbbbbbbbb       ooooooooooo      nnnnnn    nnnnnn    ddddddddd   ddddd
                                                                                                                                                            
            `)
            console.log(`Did you find a bug or vulnerability? if yes contact us codebond.cb@gmail.com`)
          </script>
</body>

</html>