<div class="footer-section">

    <div class="footer">
        <div class="footer-brand-section">

            <div class="logo">
                <img src="/static/images/footercodebond.svg" style="width:150px;height:150px;" alt="" />
            </div>
            
        </div>
        <div class="footer-intro">
            <div class="name">
                <p class="text-center">made with ❤️ by <a class="saud"
                        href="https://instagram.com/chougle_saud">saud</a></p>
            </div>
            <div class="affiliate">
                <ul>
                <li class="vultr">
                    <p class="text-center"><small> Hosted by</small> <a class="saud"
                            href="https://www.vultr.com/?ref=8254376-4F">
                    </p>
                    <a href="https://www.vultr.com/?ref=8254376-4F">
                        <img src="https://www.vultr.com/media/icon_ondark.svg" width="50"  alt="vultr">
                    </a>
                </li>

                <li class="cloudinary">
                    <p class="text-center"><small>images Hosted by</small> <a class="saud"
                            href="https://www.vultr.com/?ref=8254376-4F">
                    </p>
                    <a href="https://cloudinary.com/invites/lpov9zyyucivvxsnalc5/tt18cnu0kzxiq3g1r5sp">
                        <img src="https://res.cloudinary.com/codebond/image/upload/w_135,q_auto:good,f_auto/v1569230836/fx116ar6pz1vnqzkcua8.webp"
                            alt="cloudinary">
                    </a>
                </li>
                </ul>


            </div>
        </div>
       
        <div class="strip">
            <div class="copyright">
                <span class="align-bottom">
                    <a aria-label="terms" href="/codebond/terms">Terms</a></span>
                <span class="align-bottom">
                    <a aria-label="privarcy policy" href="/codebond/privacy-policy">Privacy Policy</a></span>
                <span class="align-bottom"><a aria-label="contact" href="mailto:codebond.cb@gmail.com">Contact: codebond.cb@gmail.com</a></span>
                <span class="align-bottom">Copyright &#169; 2019 codebond.co All rights reserved.</span>
            </div>
        </div>
    </div>
</div>
