<div class="footer-section">

    <div class="footer">
        <div class="footer-brand-section">

            <div class="logo">
                <img src="/static/images/footercodebond.svg" style="width:150px;height:150px;" alt="" />
            </div>
            
        </div>
        <div class="footer-intro">
            <div class="name">
                <p class="text-center">codebond</p>
                made with <span>❤️</span> by
                <span><a class="saud" href="https://www.instagram.com/chougle_saud/">saud</a></span>
            </div>
        </div>
       
        <div class="strip">
            <div class="copyright">
                <span class="align-bottom">
                    <a aria-label="terms" href="/codebond/terms">Terms</a></span>
                <span class="align-bottom">
                    <a aria-label="privarcy policy" href="/codebond/privacy-policy">Privacy Policy</a></span>
                <span class="align-bottom"><a aria-label="contact" href="mailto:codebond.cb@gmail.com">Contact: codebond.cb@gmail.com</a></span>
                <span class="align-bottom">Copyright &#169; 2019 codebond.co All rights reserved.</span>
            </div>
        </div>
    </div>
</div>
