<div class="icon-cont">
    <a id="twitter-link" href=""><img src="/static/images/twitter.svg" width="25" height="25" alt="twitter icon"></a>
    <a id="facebook-link" href=""><img src="/static/images/facebook.svg" width="25" height="25" alt="facebook icon"></a>    
</div>