<div class="tableofcontent col-lg-12 col-md-12 col-sm-12 col-12">
    <p class="text-center">table of content</p>
    <% data.post.forEach((el,i)=>{
        if(el.type === "header"){
            if(el.data.level === 1 || el.data.level === 2){ %>
              <li><a href=<%="#"+el.data.text.toLowerCase().replace(/\s/g, '')%>><%=el.data.text%></a></li>  
    <%   }
        }
    }); %>
</div>